<h1>Kampány </h1>

<h2>Kampány adatai</h2>


<div class="container">
    <h3><button id="backbutton" (click)="goBackToPrevPage()">&#11148;</button></h3>
    <div class="container2">

        <!--liveOrAuto-->
        <div id="start" class="container3">
            <div class="content">
                <div>
                    <div>
                        <label class="text">Autómatikus / Élőhangos<s>*</s></label>
                    </div>
                    <div>
                        <input type="checkbox" id="auto" name="liveOrAuto" [checked]="!resultCampaign.liveOrAuto"><label
                            for="auto">Automata</label>
                        <input type="checkbox" id="live" name="liveOrAuto" [checked]="resultCampaign.liveOrAuto"><label
                            for="live">Élőhangos</label>
                    </div>
                </div>
            </div>

            <!--name-->

            <div class="content">
                <div>
                    <div>
                        <label class="text">Kampány neve <s>*</s></label>
                    </div>
                    <div>
                        <input class="droptextbox" type="text" id="name" name="institution"
                            [(ngModel)]="resultCampaign.name" readonly placeholder="???"
                            title="Kérem töltse ki a mezőt">
                    </div>
                    <div  *ngIf="resultCampaign.started">
                        <div>
                            <label class="text">A kampány elindult</label>
                        </div>
                    </div>
                    <div  *ngIf="!resultCampaign.started">
                        <div>
                            <label class="text">A kampány nem indult el vagy már leállt</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="content">
                <div>
                    
                    <div>
                        <button id="addQuestionbutton" (click)="startCampaign(resultCampaign.id)">Start</button> 
                    </div>
                    <div>
                        <button id="addQuestionbutton" (click)="stopCampaign(resultCampaign.id)">Stop</button> 
                    </div>
                </div>
            </div>
            <div class="content">
                <div>
                    
                    <div>
                        <button id="addQuestionbutton" (click)="deleteCampaign(resultCampaign.id)">Törlés</button> 
                    </div>
                </div>
            </div>
        </div>

        <!--startDate, endDate               <button id="addQuestionbutton" (click)="addQuestion()">Kérdés Kész</button>                 -->

        <div class="tab-button">
            <label>Idővallumok</label>
        </div>

        <div class="container3">

            <div id="datetime" class="content">
                <div>
                    <div>
                        <label class="text">Kezdés dátuma <s>*</s></label>
                    </div>
                    <div>
                        <input class="droptextbox" type="date" id="startDate" name="institution"
                            [(ngModel)]="resultCampaign.startDate" readonly placeholder="???"
                            title="Kérem töltse ki a mezőt">
                    </div>
                </div>

                <div>
                    <div>
                        <label class="text">Befejezés dátuma <s>*</s></label>
                    </div>
                    <div>
                        <input class="droptextbox" type="date" id="endDate" name="institution"
                            [(ngModel)]="resultCampaign.endDate" readonly title="Kérem töltse ki a mezőt">
                    </div>
                </div>
            </div>

            <!--fromTime, toTime-->

            <div id="datetime" class="content">
                <div>
                    <div>
                        <label class="text">Kezdés ideje <s>*</s></label>
                    </div>
                    <div>
                        <input class="droptextbox" type="time" id="fromTime" name="institution"
                            [(ngModel)]="resultCampaign.fromTime" placeholder="???" title="Kérem töltse ki a mezőt">
                    </div>
                </div>

                <div>
                    <div>
                        <label class="text">Befejezés ideje <s>*</s></label>
                    </div>
                    <div>
                        <input class="droptextbox" type="time" id="toTime" name="institution"
                            [(ngModel)]="resultCampaign.toTime" placeholder="???" title="Kérem töltse ki a mezőt">
                    </div>
                </div>
            </div>


            <!--callDays-->

            <div id="datetime" class="content">
                <div>
                    <label class="text">milyen napokon akarunk hívni<s>*</s></label>
                </div>


                <div class="content2" style="padding-top: 60px;">
                    <ng-container *ngIf="resultCampaign.callDays">

                        <div style="max-height: 265px; width: auto; overflow-y: auto;">
                            <div *ngFor="let addDate of this.calldays; let i = index"
                                style="border-bottom: solid 3px #b8b8b8a6; display: flex; align-items: center; padding-bottom: 5px; margin-top: 5px;">
                                <div style="flex-grow: 1;">
                                    <input class="droptextbox" type="date" readonly id="period" name="institution"
                                    [(ngModel)]="addDate.Date" >
                                    
                                </div>
                               
                            </div>
                        </div>
                    </ng-container>

                </div>
            </div>


            <!--period-->

            <div id="datetime" class="content">
                <div>
                    <label class="text">Hivások közötti idő <s>*</s></label>
                </div>
                <div>
                    <input class="droptextbox" type="text" id="period" name="institution"
                        [(ngModel)]="resultCampaign.period" placeholder="???" title="Kérem töltse ki a mezőt">
                </div>
            </div>
        </div>

        <div id="tabbutton">
            <div class="tab-button">
                <label>Hivasok</label>
            </div>
            <div class="tab-button">
                <label>Hangfelvételek</label>
            </div>
        </div>

        <!--callsPerPeriod-->
        <div id="calls" class="container5">
            <div id="callscontent">
                <div id="contentcall" class="content">
                    <div>
                        <div>
                            <label class="text">hívott számok ( db) / periódus <s>*</s></label>
                        </div>
                        <div>
                            <input class="droptextbox" type="number" id="callsPerPeriod" name="institution"
                                [(ngModel)]="resultCampaign.callsPerPeriod" placeholder="1"
                                title="Kérem töltse ki a mezőt">
                        </div>
                    </div>
                </div>

                <!--numberListId-->

                <div class="content">
                    <div>
                        <div>
                            <label class="text">kötés a telefonszám listához <s>*</s></label>
                        </div>
                        <div>

                            <input class="droptextbox" type="text" id="listname" name="institution"
                                [(ngModel)]="list.name" readonly placeholder="lista neve">
                            <!--
              <p §type="text" id="numberListname" name="institution"   > {{ getListById(resultCampaign.numberListId)}}</p>
-->
                        </div>





                    </div>
                </div>
            </div>

            <!--welcomePath-->
            <div id="callscontent">
                <div id="contentcall" class="content">
                    <div>
                        <div>
                            <label class="text">üdvözlő üzenet<s>*</s></label>
                        </div>

                        <div>
                            <input class="droptextbox" type="text" id="welcomepath" name="welcomepath"
                                [(ngModel)]="resultCampaign.welcomeSound.Name" readonly placeholder="lista neve">
                        </div>

                    </div>
                </div>

                <!--goodbyePath-->

                <div class="content">
                    <div>
                        <div>
                            <label class="text">elköszönő üzenet<s>*</s></label>
                        </div>

                        <div>
                            <input class="droptextbox" type="text" id="goodbyepath" name="goodbyapath"
                                [(ngModel)]="resultCampaign.goodbyeSound.Name" readonly placeholder="lista neve">
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--


                 <div>
                    <div *ngIf="resultCampaign.numberOfQuestions && resultCampaign.numberOfQuestions > 0">
                        <div *ngFor="let i of getNumbersArray(resultCampaign.numberOfQuestions); let index = index">
                            <label class="text" for="questions">Kérdés {{this.questions[index].questionNumber}}:</label>

                            <input class="droptextbox" type="text" id="questions" name="questions"
                                [(ngModel)]="this.questions[index].questionNumber" required placeholder="1007"
                                title="Kérem töltse ki a mezőt">


                            
                        </div>
                    </div>

                </div>

<div *ngFor="let u of this.questions[index].answers; let valami = index">
                                <label class="text" for="questions">válasz
                                    {{this.questions[index].answers[valami].buttonValue}} - gombra:</label>
                                <label class="text" for="questions">
                                    {{this.questions[index].answers[valami].value}}</label>

                            </div>
-->

    <div class="tab-button">
        <label>Kérdések-Válaszok</label>
    </div>
    
    <div *ngIf="resultCampaign.numberOfQuestions && resultCampaign.numberOfQuestions > 0">
        <div *ngFor="let i of getNumbersArray(resultCampaign.numberOfQuestions); let index = index">
            
            
            

            <div class="container5">

                    
                
                <div id="datetime1" class="content4">

                    <div style="text-align: left; justify-content: left;">
                        <div style="text-align: left; justify-content: left;">
                            <label class="text" for="questions">
                                <b>Kérdés sorszáma : {{this.questions[index].questionNumber}}</b>
                            </label>
                        </div>
                    </div>

                    <div>
                        <div>
                            <label class="text">Adatbázis hely: </label>
                        </div>
                        <div>
                            <input class="droptextbox" type="text" id="questions" name="questions"
                                [(ngModel)]="this.questions[index].valueToSet">
                        </div>
                    </div>

                    <div>
                        <div>
                            <label class="text">Hangfile</label>
                        </div>
                        <div>
                            <input class="droptextbox" type="text" id="questions" name="questions"
                                [(ngModel)]="this.questions[index].Sound.Name">
                                <div class="ratestbutton">          
                                    <button style="margin-bottom: 5px;" (click)="Play(this.questions[index].Sound.Url)">lejatszas</button>       
                                  </div>
                        </div>
                    </div>
                </div>

                <!--fromTime, toTime-->

                <div id="datetime1" class="content5">
                  
                    <div>
                        <div>
                            <div *ngFor="let u of this.questions[index].answers;let valami = index">
                            <label class="text">válasz {{this.questions[index].answers[valami].buttonValue}} - gombra:</label>
                            <input class="droptextbox" type="text" id="questions" name="questions"
                                [(ngModel)]="this.questions[index].answers[valami].value">
                            
                            </div> 
                        </div>
                       
                    </div>

                    <div>
                        
                    
                </div>
            </div>


        </div>

    </div>
</div>