.container{
    padding: 15px;
    padding-top: 0;
  }

  .container3{    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(224,224,224);
    background: linear-gradient(180deg, rgba(224,224,224,1) 50%, rgba(255,255,255,0) 70%);
    padding-bottom: 60px; 
}

.container4{
  display: flex;
}

.content{
  display: flex;
}

.container5{
  justify-content: center;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
}

.tab-button {    
  color: white;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  background: #646464;
  margin: 0;
  padding: 10px;
  font-size: 25px;
  font-weight: 500;
  width: 200px;    
  margin-bottom: 60px;    
  line-height: 1.2;   
  text-align: center;
  justify-content: center;
}

.container2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1;
  justify-content: center;
  text-align: center;
}
  .acceptuser{
    background: rgb(224,224,224);
    background: linear-gradient(180deg, rgba(224,224,224,1) 80%, rgb(255, 255, 255) 100%);
    padding: 20px;
    padding-bottom: 70px;
   
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .ratestbutton{    
    margin-top: 40px;
    text-align: center;   
}
  .popup {
    background-color: #cecece;
    padding: 10px;
    z-index: 1;
  }
  .popup .popuptext {
    background-color: #cecece;
    padding: 2px;
    z-index: 1;
  }
  .material-icons {
    vertical-align: middle; 
    margin-right: 5px; 
    cursor: pointer;
  }
  
  .material-icons.right-arrow {
    transform: rotate(90deg);
  }

  @media (max-width: 1400px){
    .container{
      padding-left:165px
    }
  }