.container{
    padding-top: 0;        
}

.form-group2{
    display: flex;
    height: auto;
    flex-direction: column;
    padding-bottom: 60px;
}

.droptextbox{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
}
 
.text{
    width: 200px;
}
 
.active-button {
    opacity: 1;
}
  
.inactive-button {
    opacity: 0.5;
}

#okebutton{
    margin-left: 0;
    box-shadow: 0 0 0 20px white;
    margin-top: 60px;
}

.container2{
    justify-content: center; 
    margin-top: 60px;
    background: rgb(224,224,224);
    background: linear-gradient(180deg, rgba(224,224,224,1) 50%, rgb(255, 255, 255) 70%);
    padding-bottom: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(224,224,224);
    background: linear-gradient(180deg, rgba(224,224,224,1) 80%, rgb(255, 255, 255) 100%);
    padding-bottom: 60px;
}

.form-group:nth-child(even) {
    background: rgb(240,240,240);
    background: linear-gradient(180deg, rgba(240,240,240,1) 80%, rgb(255, 255, 255) 100%);
}

.text {
    margin-bottom: 0;
    
}

.container02 {   
    padding-left: 19%;
    
}
.container3{
    padding-left: 49%;
    text-align: center;    
    display: flex;    
}
.reg-button {
    max-width: 100%;
    width: 63.75%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    padding-left: 20px;
}

.tab-button {    
    color: white;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background: #848484;
    margin: 0;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    width: 250px;
    text-align: center;
    margin-bottom: 80px;       
    line-height: 1.2;     
}

#intezmenybutton{
    margin-left: 10px;
}

#qonq{
    display: block;
}

.telefon{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.question{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.content{
    display: flex;
    margin-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
}

.content2{
    display: flex;
    flex-direction: column;
    
    padding-right: 60px;
    padding-left: 60px;
}
