<h1>telefon lista feltöltése
  
</h1>
<h2>telefon lista  </h2>
<div class="container">

  <div class="container2">
<h3><button id="backbutton" (click)="goBackToPrevPage()">&#11148;</button></h3>
<div class="exportbutton">
    
    <div class="tab-button">
      Telefon lista
    </div>
<div>
    <div hidden>
      <input type="file" accept=".html" class="file-input" (change)="onFileSelected($event)" #fileUpload>
      <p>telefon lista feltöltése</p>
    </div>

    <div class="file-upload">
      <br>
      <div class="exportbutton2">

        <button mat-mini-fab color="primary" (click)="fileUpload.click()" tabindex="39"> FELTÖLT <mat-icon>
            attach_file</mat-icon></button>
      </div>
      <div class="nofile">{{uploadedMessage|| noFileMessage}}</div>
    </div>


    <div class="progress">

      <mat-progress-bar class="progress-bar" mode="determinate" [value]="backendService.uploadProgress"
        *ngIf="backendService.uploadProgress">

      </mat-progress-bar>

      <mat-icon class="cancel-upload" (click)="backendService.cancelUpload()"
        *ngIf="backendService.uploadProgress">delete_forever</mat-icon>

    </div>
  </div>
</div>
</div>