<h1>Új kampány létrehozása</h1>

<h2>Töltse ki a kampányadatokat! </h2>


<div class="container">  
  <h3><button id="backbutton" (click)="goBackToPrevPage()">&#11148;</button></h3>
  <div class="container2">

      <!--liveOrAuto-->
    <div class="container3">
      <div class="content">
        <div>
          <div>
            <label class="text">Kampány automata? <s>*</s></label>
          </div>
          <div>
            <div>
              <label for="auto" title="Kérem válasszon.">Élő/automata</label>
            </div>
            <input type="radio" id="auto" name="liveOrAuto" (click)="toggleContent('auto')" [(ngModel)]="campaign.liveOrAuto" value="false"><label for="auto">Automata</label>
            <input type="radio" id="live" name="liveOrAuto" (click)="toggleContent('live')" [(ngModel)]="campaign.liveOrAuto" value="true"><label for="live">Élőhangos</label>
          </div>
        </div>
      </div>
    </div>

      <!--name-->

    <div class="container3">
      <div class="content" *ngIf="autoActive">
        <div>
          <div>
            <label class="text">Kampány neve <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="text" id="name" name="institution" [(ngModel)]="campaign.name" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>
    </div>

      <!--startDate, endDate-->
        
    <div class="container3">
      <div class="content" *ngIf="autoActive">
        <div>
          <div>
            <label class="text">Kezdés dátuma <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="date" id="startDate" name="institution" [(ngModel)]="campaign.startDate" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      
        <div>
          <div>
            <label class="text">Befejezés dátuma <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="date" id="endDate" name="institution" [(ngModel)]="campaign.endDate" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>

      <!--fromTime, toTime-->
          
      <div class="content" *ngIf="autoActive">
        <div>
          <div>
            <label class="text">Kezdés ideje <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="time" id="fromTime" name="institution" [(ngModel)]="origialFromTime" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
   
        <div>
          <div>
            <label class="text">Befejezés ideje <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="time" id="toTime" name="institution" [(ngModel)]="origialToTime" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>

      <!--callDays-->

     <div class="content" *ngIf="autoActive">
      <div>
        <div>
          <label class="text">milyen napokon akarunk hívni<s>*</s></label>
        </div>
        <div>
          <input class="droptextbox" type="time" id="callDays" name="institution" [(ngModel)]="campaign.callDays" ringGroup="???" title="Kérem töltse ki a mezőt">
        </div>
      </div>
    </div>
    </div>

      <!--period-->

    <div class="container3">
      <div class="content" *ngIf="autoActive">
        <div>
          <div>
            <label class="text">Hivások közötti idő <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="time" id="period" name="institution" [(ngModel)]="campaign.period" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>


      <!--callsPerPeriod-->

      <div class="content" *ngIf="autoActive">
        <div>
          <div>
            <label class="text">Egy periodus alatt hivott számok  <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="number" id="callsPerPeriod" name="institution" [(ngModel)]="campaign.callsPerPeriod" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>

      <!--numberListId-->

      <div class="content" *ngIf="autoActive">
        <div>
          <div>
            <label class="text">kötés a telefonszám listához  <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="number" id="numberListId" name="institution" [(ngModel)]="campaign.numberListId" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>
    </div>

          <!--question-->
      <!--numberOfQuestions-->

    <div class="container4" *ngIf="autoActive">
      <div class="content">
        <div>
          <div>
            <label class="text">kérdések száma<s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="number" id="numberOfQuestions" name="institution" [(ngModel)]="campaign.numberOfQuestions" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>

      <div *ngIf="campaign.numberOfQuestions && campaign.numberOfQuestions > 0">
        <div *ngFor="let i of getNumbersArray(campaign.numberOfQuestions); let index = index">

                  <!--welcomePath-->

          <div class="content">
            <div>
              <div>
                <label class="text">üdvözlő üzenet felvételének a linkje<s>*</s></label>
              </div>
              <div>
                <input class="droptextbox" type="url" id="welcomePath" name="institution" [(ngModel)]="campaign.welcomePath" placeholder="???" title="Kérem töltse ki a mezőt">
              </div>
            </div>
          </div>
          

          <div class="content2">

            <div>
              <div>
                <label class="text">Kérdés felvétel kiválasztása<s>*</s></label>
              </div>
              <div>
                <select class="droptextbox" id="questionselect" [(ngModel)]="campaign.question" title="Kérem válasszon.">
                  <option value="" disabled selected hidden>Válasszon Felvételt</option>
                  <option value>felvétel1</option>
                  <option value>felvétel2</option>
                  <option value>felvétel3</option>
                </select>
              </div>
            </div>
            <div class="question" >
              <div>
                <label class="text">Nyomogomb {{ index + 1 }}<s>*</s></label>
                <input class="droptextbox" type="text" id="question{{ index + 1 }}" name="question{{ index + 1 }}" [(ngModel)]="answers[index]" title="Kérem válasszon">
              </div>
              <div>
                <label class="text">Nyomogomb {{ index + 2 }}<s>*</s></label>
                <input class="droptextbox" type="text" id="question{{ index + 2 }}" name="question{{ index + 2 }}" [(ngModel)]="answers[index]" title="Kérem válasszon">
              </div>
              <div>
                <label class="text">Nyomogomb {{ index + 3 }}<s>*</s></label>
                <input class="droptextbox" type="text" id="question{{ index + 3 }}" name="question{{ index + 3 }}" [(ngModel)]="answers[index]" title="Kérem válasszon">
              </div>
              <div>
                <label class="text">Nyomogomb {{ index + 4 }}<s>*</s></label>
                <input class="droptextbox" type="text" id="question{{ index + 4 }}" name="question{{ index + 4 }}" [(ngModel)]="answers[index]" title="Kérem válasszon">
              </div>
              <div>
                <label class="text">Nyomogomb {{ index + 5 }}<s>*</s></label>
                <input class="droptextbox" type="text" id="question{{ index + 5 }}" name="question{{ index + 5 }}" [(ngModel)]="answers[index]" title="Kérem válasszon">
              </div>
              <div>
                <label class="text">Nyomogomb {{ index + 6 }}<s>*</s></label>
                <input class="droptextbox" type="text" id="question{{ index + 6 }}" name="question{{ index + 6 }}" [(ngModel)]="answers[index]" title="Kérem válasszon">
              </div>
              <div>
                <label class="text">Nyomogomb {{ index + 7 }}<s>*</s></label>
                <input class="droptextbox" type="text" id="question{{ index + 7 }}" name="question{{ index + 7 }}" [(ngModel)]="answers[index]" title="Kérem válasszon">
              </div>
              <div>
                <label class="text">Nyomogomb {{ index + 8 }}<s>*</s></label>
                <input class="droptextbox" type="text" id="question{{ index + 8 }}" name="question{{ index + 8 }}" [(ngModel)]="answers[index]" title="Kérem válasszon">
              </div>
              <div>
                <label class="text">Nyomogomb {{ index + 9 }}<s>*</s></label>
                <input class="droptextbox" type="text" id="question{{ index + 9 }}" name="question{{ index + 9 }}" [(ngModel)]="answers[index]" title="Kérem válasszon">
              </div>
              <div></div>
              <div>
                <label class="text">Nyomogomb {{ index + 0 }}<s>*</s></label>
                <input class="droptextbox" type="text" id="question{{ index + 0 }}" name="question{{ index + 0 }}" [(ngModel)]="answers[index]" title="Kérem válasszon">
              </div>
            </div>
          </div>

                <!--goodbyePath-->

          <div class="content">
            <div>
              <div>
                <label class="text">elköszönő üzenet felvételének a linkje<s>*</s></label>
              </div>
              <div>
                <input class="droptextbox" type="url" id="goodbyePath" name="institution" [(ngModel)]="campaign.goodbyePath" placeholder="???" title="Kérem töltse ki a mezőt">
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>

     

      <!--ringGroup-->
    <div class="container3"*ngIf="liveActive">
    <div class="content" >
      <div>
        <div>
          <label class="text">csöngeés csoport: ha előhangos akkor kell ez a szám<s>*</s></label>
        </div>
        <div>
          <input class="droptextbox" type="number" id="ringGroup" name="institution" [(ngModel)]="campaign.ringGroup" ringGroup="???" title="Kérem töltse ki a mezőt">
        </div>
      </div>
    </div>
    </div>
      

    

    




  </div>
    <div style="text-align: center; position: relative; z-index: 1; display: flex; flex-direction: column; align-items: center;">   
      <button id="okebutton" (click)="finish()" style="z-index: 2; position: relative;">
          Kész
      </button>
      <div style="position: absolute; bottom: 0; width: 50%; z-index: 1; text-align: center;">
          <hr style="margin-top: 10px; width: 100%; height: 1px; background-color: #0080ff; box-shadow:0px 1px 0px #848484;">
      </div>
    </div>  

  

  

  <footer>   
    <p>A "*" -al jelölt mezők kitöltése kötelező !</p>
  </footer>

</div>
