<h1>Új kampány létrehozása</h1>

<h2>Töltse ki a kampányadatokat! </h2>


<div class="container">  
  <h3><button id="backbutton" (click)="goBackToPrevPage()">&#11148;</button></h3>
  <div class="container2">

      <!--liveOrAuto-->
    <div id="start" class="container3">      
      <div class="content">        
        <div>
          <div>
            <label class="text">Autómatikus / Élőhangos<s>*</s></label>
          </div>
          <div>            
            <input type="radio" id="auto" name="liveOrAuto" (click)="toggleContent('auto')" [(ngModel)]="campaign.liveOrAuto" value="false"><label for="auto">Automata</label>
            <input type="radio" id="live" name="liveOrAuto" (click)="toggleContent('live')" [(ngModel)]="campaign.liveOrAuto" value="true"><label for="live">Élőhangos</label>
          </div>
        </div>
      </div>    

      <!--name-->
    
      <div class="content">
        <div>
          <div>
            <label class="text">Kampány neve <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="text" id="name" name="institution" [(ngModel)]="campaign.name" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>      
    </div>

      <!--startDate, endDate-->
    
    <div class="tab-button" *ngIf="autoActive">
      <label>Idővallumok</label>
    </div>    

    <div class="container3" *ngIf="autoActive">
      
      <div id="datetime" class="content" >
        <div>
          <div>
            <label class="text">Kezdés dátuma <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="date" id="startDate" name="institution" [(ngModel)]="campaign.startDate" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      
        <div>
          <div>
            <label class="text">Befejezés dátuma <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="date" id="endDate" name="institution" [(ngModel)]="campaign.endDate" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>

      <!--fromTime, toTime-->
          
      <div id="datetime" class="content" >
        <div>
          <div>
            <label class="text">Kezdés ideje <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="time" id="fromTime" name="institution" [(ngModel)]="origialFromTime" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
   
        <div>
          <div>
            <label class="text">Befejezés ideje <s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="time" id="toTime" name="institution" [(ngModel)]="origialToTime" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>
      

      <!--callDays-->

      <div id="datetime" class="content" >        
        <div>
          <label class="text">milyen napokon akarunk hívni<s>*</s></label>
        </div>
        <div>
          <input class="droptextbox" type="date" id="callDays" name="institution" [(ngModel)]="callday" ringGroup="???" title="Kérem töltse ki a mezőt">
          <button id="adddate" (click)="addDate()">Dátum hozzáadása</button>
          <p>{{campaign.callDays}}</p>
        </div>  
        
        <div class="content2">
          <ng-container *ngIf="campaign.callDays">
            
            <div style="max-height: 265px; width: auto; overflow-y: auto;">
              <div *ngFor="let addDate of campaign.callDays; let i = index" style="border-bottom: solid 3px #b8b8b8a6; display: flex; align-items: center; padding-bottom: 5px; margin-top: 5px;">
                <div>
                  <p style="margin: 0;"> <p>{{addDate}}</p>                        
                </div>                
              </div>
            </div>
          </ng-container>
          <ng-template #noMarkers>
            <p class="markerbno" title="Ha a betegnek nem volt társ betegsége, válassza az 'Egészséges' markert! ">Még nem adott hozzá Markert</p>
          </ng-template>
        </div> 
      </div>
        

      <!--period-->
    
      <div id="datetime" class="content" >      
        <div>
          <label class="text">Hivások közötti idő <s>*</s></label>
        </div>
        <div>
          <input class="droptextbox" type="time" step="1"  min="00:00"   id="period" name="institution" [(ngModel)]="origialPeriod" placeholder="???" title="Kérem töltse ki a mezőt">
        </div>      
      </div>
    </div>

    <div id="tabbutton">
      <div class="tab-button" *ngIf="autoActive">
        <label>Hivasok</label>
      </div>
      <div class="tab-button" *ngIf="autoActive">
        <label>Hangfelvételek</label>
      </div>
    </div>

      <!--callsPerPeriod-->
    <div id="calls" class="container5"*ngIf="autoActive">
      <div id="callscontent">
        <div id="contentcall" class="content" >
          <div>
            <div>
              <label class="text">hívott számok ( db) / periódus <s>*</s></label>
            </div>
            <div>
              <input class="droptextbox" type="number" id="callsPerPeriod" name="institution" [(ngModel)]="campaign.callsPerPeriod" placeholder="1" title="Kérem töltse ki a mezőt">
            </div>
          </div>
        </div>

        <!--numberListId-->

        <div class="content" >
          <div>
            <div>
              <label class="text">kötés a telefonszám listához  <s>*</s></label>
            </div>
            <div>
             

              <select class="droptextbox" type="number" id="numberListId" name="institution"  [(ngModel)]="listID" title="Kérem válasszon">
                  <ng-container *ngFor="let list of lists">
                    <option value= "{{list.id}}">{{list.id}}  {{list.name}}</option>
                  </ng-container>
                </select>

          </div>
           
           
           
           
            
          </div>
        </div>  
      </div>

        <!--welcomePath-->
      <div id="callscontent">
        <div id="contentcall" class="content">
          <div>
            <div>
              <label class="text">üdvözlő üzenet<s>*</s></label>
            </div>

            <div>
             

              <select class="droptextbox" type="text" id="welcomepath" name="welcomepath" [(ngModel)]="campaign.welcomePath" title="Kérem válasszon">
                  <ng-container *ngFor="let sound of sounds">
                    <option value="{{sound.Url}}">{{sound.Name}}</option>
                  </ng-container>
                </select>

          </div>
            
          </div>
        </div>

          <!--goodbyePath-->

        <div class="content">
          <div>
            <div>
              <label class="text">elköszönő üzenet<s>*</s></label>
            </div>


            <div>
             

               <select class="droptextbox" type="text" id="goodbyepath" name="goodbyepath" [(ngModel)]="campaign.goodbyePath" title="Kérem válasszon">
                  <ng-container *ngFor="let sound of sounds">
                    <option value="{{sound.Url}}">{{sound.Name}}</option>
                  </ng-container>
                </select>

          </div>



           
            </div>
          </div>
        </div>
      </div>      
    </div>
  
    
    <div id="tabbutton">
      <div class="tab-button" *ngIf="autoActive">
        <label>Kérdések</label>
      </div>
      <div class="tab-button" *ngIf="autoActive">
        <label>Válaszok</label>
      </div>
    </div>


    <div id="calls" class="container5"*ngIf="autoActive">
      <div id="callscontent">
        <div id="contentcall" class="content3" >
          <div>
            <label class="text" for="bno">Kérdés sorszáma</label>
          </div>
          <div id="questionsclass">
            <div>
              <input class="droptextbox" type="number" id="questionnumber" name="answerbutton" [(ngModel)]="newQuestion.questionNumber" placeholder="1" title="Kérem töltse ki a mezőt">
            </div>
            <div>
              <div>                 
                <label class="text"> Kérdés felvétel kiválasztása<s>*</s></label>
              </div>

              <div>
             

                <select class="droptextbox" type="text" id="questionpath" name="questionpath" [(ngModel)]="newQuestion.minioPath" title="Kérem válasszon">
                    <ng-container *ngFor="let sound of sounds">
                      <option value="{{sound.Url}}">{{sound.Name}}</option>
                    </ng-container>
                  </select>
  
            </div>
             
            </div>
          </div>
        </div>
      

        <div class="content3" >
          <div>                 
            <label class="text">  Hova kerül az adatbazisba?<s>*</s></label>
          </div>
          <div>
            <select class="droptextbox" id="soundselect" [(ngModel)]="newQuestion.valueToSet" title="Kérem válasszon.">
              <option value="" disabled selected hidden>Válasszon értéket </option>
              <option value="Sex">Nem kiválasztása</option>
              <option value="Age">Korcsoprt választás</option>
              <option value="Hospitalized">Kórházi kezelést kapott</option>
              <option value="Dead">Elhunyt</option>
              <option value="Illnesses">Társ betegségek</option>
            </select>        
          </div>           
        </div>
              
      </div>
       
      <div id="callscontent2">
        <div id="contentcall" class="content3" >
          <div>
            <label class="text" for="bno">Válaszok száma</label>
          </div>          
          <div>
            <input class="droptextbox" type="number" id="answerbutton" name="answerbutton" [(ngModel)]="newAnswer.buttonValue" placeholder="1" title="Kérem töltse ki a mezőt">
          </div>      
          <div>
            <label class="text" for="bno">Válasz megadása</label>
          </div> 
          <div>
            <input class="droptextbox" type="text" id="answervalue" name="answervalue" [(ngModel)]="newAnswer.value" placeholder="Válasz..." title="Kérem töltse ki a mezőt">
          </div>
        </div>
        <div class="content3" >
          <div>
            <button id="addanswerbutton" (click)="addAnswer()" (click)="toggleContent('addanswertoggle')">Válasz Hozzáadás</button>
          </div> 
        </div>                        
      </div>
    
  </div>  

  <div class="container7" *ngIf="autoActive">

    <div class="content2">
      <ng-container *ngIf="buttonValues">
        <p class="markerbno2" style="margin-bottom: 60px;">Hozzáadott válaszok</p>
        <div style="max-height: 265px; overflow-y: auto; width: auto; margin-bottom: 60px;">
          <div *ngFor="let newAnswer of newQuestion.answers; let i = index" style="border-bottom: solid 3px #b8b8b8a6; display: flex; align-items: center; padding-bottom: 5px; margin-top: 5px;">
            <div style="flex-grow: 1;">
              <p style="margin: 0;"> Gomb :{{ newAnswer.buttonValue }}</p>
              <p style="margin: 0;"> Válasz :{{ newAnswer.value }}</p>
            </div>
            <div style="margin-left: auto;">
              <button (click)="removeAnswer(newAnswer)">Törlés</button>
            </div>

          </div>
        </div>
      </ng-container>
      <ng-template #noMarkers>
        <p class="markerbno" title="Ha a betegnek nem volt társ betegsége, válassza az 'Egészséges' markert! ">Még nem adott hozzá Markert</p>
      </ng-template>
      <div *ngIf="addanswertoggleActive">
        <button id="addQuestionbutton" (click)="addQuestion()">Kérdés Kész</button>
      </div> 
    </div>

  </div>

  
  <div class="tab-button" *ngIf="autoActive">
    <label>A kész kérdések</label>
  </div>
  

  <div class="container6" *ngIf="autoActive">

    <div class="content2" style="padding-top: 60px;">
      <ng-container *ngIf="campaign.questions && campaign.numberOfQuestions +1">
        
        <div style="max-height: 265px; width: auto; overflow-y: auto; margin-bottom: 60px;">
          <div *ngFor="let newQuestion of campaign.questions; let i = index" style="border-bottom: solid 3px #b8b8b8a6; display: flex; align-items: center; padding-bottom: 5px; margin-top: 5px;">
            <div style="flex-grow: 1;">
              <p style="margin: 0;"> Kérdés száma: {{ newQuestion.questionNumber }}</p>
              <p style="margin: 0;"> Hangfile :{{ newQuestion.minioPath }}</p>
              <p style="margin: 0;"> Adatbázis: {{ newQuestion.valueToSet }}</p>
             
            </div>
            <div style="margin-left: auto;">
              <button (click)="removeQuestion(newQuestion)">Törlés</button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noMarkers>
        <p class="markerbno" title="Ha a betegnek nem volt társ betegsége, válassza az 'Egészséges' markert! ">Még nem adott hozzá Markert</p>
      </ng-template>
    </div> 
     
  </div>


  
  <div class="container3"*ngIf="liveActive">
    <div class="content6" >
      <div>
        <div>
          <label class="text">csöngeés csoport: ha előhangos akkor kell ez a szám<s>*</s></label>
        </div>
        <div>
          <input class="droptextbox" type="number" id="ringGroup" name="institution" [(ngModel)]="campaign.ringGroup" ringGroup="???" title="Kérem töltse ki a mezőt">
        </div>
      </div>
    </div>
  </div>





          <!--question-->
      <!--numberOfQuestions

    <div class="container4" *ngIf="autoActive">
      
      
      <div class="content">
        <div>
          <div>
            <label class="text">kérdések száma<s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="number" id="numberOfQuestions" name="institution" [(ngModel)]="campaign.numberOfQuestions" placeholder="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>

      <div class="container3" id="qonq">
        <div *ngIf="campaign.numberOfQuestions && campaign.numberOfQuestions > 0">
          <div *ngFor="let i of getNumbersArray(campaign.numberOfQuestions); let index = index">                
                    

            <div class="content2">
              <div>
                <div>                 
                  <label class="text"> Kérdés felvétel kiválasztása<s>*</s></label>
                </div>
                <div>
                  <select class="droptextbox" id="soundselect" [(ngModel)]="question.minioPath" title="Kérem válasszon.">
                    <option value="" disabled selected hidden>Válasszon Felvételt</option>
                    <option value="valami1">felvétel1</option>
                    <option value="valami2">felvétel2</option>
                    <option value="valami3">felvétel3</option>
                  </select>
                </div>
              </div>


              <div class="question">
                <div class="telefon">
                  
                  <label class="text">nyomógomb száma<s>*</s></label>
                  <input class="droptextbox" type="number" id="answerbutton{{index}}" [(ngModel)]="answer.buttonValue" >

                  <label class="text">értéke<s>*</s></label>
                  <input class="droptextbox" type="text" id="answervalue{{index}}" [(ngModel)]="answer.value">
                  <div> 
                  <button id="okebutton" (click)="add()" style="z-index: 2; position: relative;">  add</button>

                  
                  <p style="margin: 0;">{{ answer.buttonValue }}  - {{ answer.value }}</p>
                </div>


                  <button id="okebutton" (click)="questionDone()" style="z-index: 2; position: relative;"> Kérdés kész</button>
                </div>                
              </div>
            </div>                               
          </div>
        </div>
      </div>

     

      ringGroup
    <div class="container3"*ngIf="liveActive">
      <div class="content" >
        <div>
          <div>
            <label class="text">csöngeés csoport: ha előhangos akkor kell ez a szám<s>*</s></label>
          </div>
          <div>
            <input class="droptextbox" type="number" id="ringGroup" name="institution" [(ngModel)]="campaign.ringGroup" ringGroup="???" title="Kérem töltse ki a mezőt">
          </div>
        </div>
      </div>
    </div>

  

    <div style="text-align: center; position: relative; z-index: 1; display: flex; flex-direction: column; align-items: center;">   
      <button id="okebutton" (click)="finish()" style="z-index: 2; position: relative;">
          Kész
      </button>
      <div style="position: absolute; bottom: 0; width: 50%; z-index: 1; text-align: center;">
          <hr style="margin-top: 10px; width: 100%; height: 1px; background-color: #0080ff; box-shadow:0px 1px 0px #848484;">
      </div>
    </div>  
  </div>-->
  
  <div style="text-align: center; position: relative; z-index: 1; display: flex; flex-direction: column; align-items: center;">   
    <button id="okebutton" (click)="finish()" style="z-index: 2; position: relative;">
        Kész
    </button>
    <div style="position: absolute; bottom: 0; width: 50%; z-index: 1; text-align: center;">
        <hr style="margin-top: 10px; width: 100%; height: 1px; background-color: #0080ff; box-shadow:0px 1px 0px #848484;">
    </div>
  </div> 
  

    <footer>   
      <p>A "*" -al jelölt mezők kitöltése kötelező !</p>
    </footer>
    
  
</div>  


