.container{
    padding-top: 0;
}

.text{
    text-align: center;
}

#okebutton{
    margin-left: 0;
    margin-top: 60px;
}

.container5{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    
}

.content{
    padding-top: 8%;
    padding-bottom: 8%;
    padding-right: 60px;
    padding-left: 60px;
}

.content2{
    display: flex;
    flex-direction: column;
    
    padding-right: 60px;
    padding-left: 60px;
}

.question{
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    text-align: center;
    margin: 20px;
    padding: 20px;
}

.container2{
    display: flex;
    flex-direction: column;
    background: rgb(224,224,224);
    background: linear-gradient(180deg, rgba(224,224,224,1) 60%, rgb(255, 255, 255) 90%);
    justify-content: space-between;
    padding-bottom: 40px;    
    padding-top: 40px;
}

.container3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center; 
}

.container4{
    text-align: left;    
    align-items: center;    
}

#link{
    background: linear-gradient(180deg, rgba(240,240,240,1) 70%, rgba(255,255,255,0) 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    border-top: solid 3px #646464;
}

.telefon{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

#calls{
    background: linear-gradient(180deg, rgba(240,240,240,1) 70%, rgba(255,255,255,0) 100%);
    border-top: solid 3px #646464;
}

#callscontent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,rgb(255, 255, 255) 70%, rgba(255,255,255,0) 100%);
}

#callscontent:nth-child(even) {
    background: rgb(240,240,240);
    background: linear-gradient(180deg, rgba(240,240,240,1) 70%, rgba(255,255,255,0) 100%);
}

#start{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
}

#auto{
    margin-top: 10px;
    margin-right: 10px;
}

#live{
    margin-right: 10px;
    margin-left: 20px;
}

.tab-button {    
    color: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    background: #646464;
    margin: 0;
    padding: 5px;
    font-size: 20px;
    width: 200px;        
    text-align: center;  
    margin-top: 20px;  
    margin-left: 30px;
}

#tabbutton{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#datetime{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg,rgb(255, 255, 255) 70%, rgba(255,255,255,0) 100%);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
    padding-top: 10%;
    border-top: solid 3px #646464;
    margin-bottom: 20px;
}

#datetime:nth-child(even) {
    background: rgb(240,240,240);
    background: linear-gradient(180deg, rgba(240,240,240,1) 70%, rgba(255,255,255,0) 100%);
}

@media (max-width: 1200px){
   
}